{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
    {% if not (current_user.is_authenticated) %}
     <h1>Hello guest</h1>
    <p>Please login</p>
    {% else %} 
    <h1>Hi {{ current_user.full_name() }}</h1>
    <div>
        <p>This is a revenue for the last 30 days </p>
        <canvas id='myChart'>
        </canvas>
        <script>
            var chart_data = {{ current_user.get_user_data()|safe }};
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx,chart_data);
        </script>
    </div>
    {% endif %}
      
    </div>
{% endblock %}
